.icon-button {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: 0;
    background: transparent;
}

.img-responsive{
  padding:30px!important;
}

.mesio{
  height:50px!important;
  width:50px!important;
}
